@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*=== VARIABLE CSS ===*/
:root {
  /*colors*/
  --detailPurple: #753369;
  --lightPurple: #f5ebf5;
  --mediumPurple: #685093;
  --darkPurple: #484665;
  --yellow: #ffc502;
  --fuschia: #fa015a;
  --fusc1: #ff469f;
  --fusc2: #ff6062;
}

input, button, textarea {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

html {
  background-color: var(--lightPurple);
}

.App {
  min-height: 100vh;
}

/* base styles */
* {
  margin: 0;
  font-family:"Quicksand";
  color: #333;
}
.navbar {
  padding:20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 2px solid var(--yellow);
  border-top: 2px double var(--fuschia);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.navbar h1 {
  color: var(--darkPurple);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left:16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--fuschia);
}
.content {
  max-width: 800px;
  /* margin: 400px auto; */
  padding: 20px;
}
button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--mediumPurple) 50%, var(--mediumPurple) 50%, var(--darkPurple));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-position: 100% 0%;
}

/* ===== POSTS ====== */
.single-post-card {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10px;
}
.header-info h2 {
  margin-bottom: 10px;
}
.description {
  font-size: x-large;
}
.price {
  font-style: italic;
}